<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- BOOTSTRAP INPORT -->
<form class="col-md-12" action="{{ url_for('login') }}" method="post">
	<h1>LOGIN</h1>
	{{ error }}
    <div class="form-group">
        <input type="text" name="username" class="form-control input-lg" placeholder="Username">
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control input-lg" placeholder="Password">
    </div>

        <button class="btn btn-primary btn-lg btn-block">Sign In</button>
    </div>
</form>
