{% extends "template.html" %}
{% block body %}
<center><form class="col-md-offset-1 col-md-10 blocked" action="/search" method="get">
	<div class="input_group">
		<input type="text" class="form-control" id="q" name="q" placeholder="Search" style="display:inline;">
		<input type="submit" class="hidden">
	</div>
</form></center>
{% if to_display_length > 0 %}
<ul class="pager">
	{% if page != 0%}
		<li class="previous"><a href="{{ url_for('tickets') }}?page={{ page-1 }}">&larr; Newer</a></li>
	{% endif %}
	<li class="next"><a href="{{ url_for('tickets') }}?page={{ page+1 }}">Older &rarr;</a></li>
</ul>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Date</td><td>Title</td><td>User</td><td>Severity</td><td>Status</td>
	</thead>
	<tbody>
		{% for ticket in to_display %}
			<tr>
				<td>{{ ticket.time }}</td>
				<td><a href="/ticket/{{ ticket.uuid }}">{{ ticket.title }}</a></td>
				<td><a href="/user/{{ ticket.userid }}">{{ ticket.email }}</a></td>
				<td>
					{% if ticket.severity == 1 %}
						<span class="label label-danger severity" >Urgent</span>
					{% elif ticket.severity == 2 %}
						<span class="label label-primary severity">High</span>
					{% elif ticket.severity == 3 %}
						<span class="label label-warning severity">Low</span>
					{% else %}
						<span class="label label-default severity">Unknown</span>
					{% endif %}
				</td>
				<td>
					{% if ticket.status == 0 %}
						<span class="label label-danger status" >Pending</span>
					{% elif ticket.status == 1 %}
						<span class="label label-primary status">In Progress</span>
					{% elif ticket.status == 2 %}
						<span class="label label-warning status">Unresolved</span>
					{% elif ticket.status == 3 %}
						<span class="label label-success status">Resolved</span>
					{% else %}
						<span class="label label-default status">Unknown</span>
					{% endif %}
				</td>
			</tr>
		</a>
		{% endfor %}
	</tbody>
</table>
<ul class="pager">
	{% if page != 0%}
		<li class="previous"><a href="{{ url_for('tickets') }}?page={{ page-1 }}">&larr; Newer</a></li>
	{% endif %}
	<li class="next"><a href="{{ url_for('tickets') }}?page={{ page+1 }}">Older &rarr;</a></li>
</ul>
{% else %}
<div class="well well-lg" style="display:block;">
  <h1>Oops...</h1>
  <p>There doesnt apear to be anything here... <br> Try reformatting you search term</p>
</div>
{% endif %}
{% endblock %}
