<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="/static/css/bootstrap-theme.css"> -->
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/new">New</a></li>
                        <li><a href="/tickets">Tickets <span class="badge">{{ pending }}</span></a></li>
                        <li><a href="/search">Search</a></li>
                        <li><a href="/archive">Archive</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span>settings</a></li>
                        <li><a href="/account"><span class="glyphicon glyphicon-user">account</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% block body %}{% endblock %}
    <body>
</html>
