<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Date</td><td>Title</td><td>User</td><td>Status</td>
	</thead>
	<tbody>
		{% for ticket in to_display %}
			<tr>
				<td>{{ ticket.time }}</td>
				<td><a href="/ticket/{{ ticket.uuid }}">{{ ticket.title }}</a></td>
				<td><a href="/user/{{ ticket.userid }}">{{ ticket.email }}</a></td>
				<td>
					{% if ticket.status == 0 %}
						<span class="label label-danger">Pending</span>
					{% elif ticket.status == 1 %}
						<span class="label label-primary">In Progress</span>
					{% elif ticket.status == 2 %}
						<span class="label label-warning">Unresolved</span>
					{% elif ticket.status == 3 %}
						<span class="label label-success">Resolved</span>
					{% else %}
						<span class="label label-default">Unknown</span>
					{% endif %}
				</td>
			</tr>
		</a>
		{% endfor %}
	</tbody>
</table>
