{% extends "layout.html" %}
{% block body %}
<nav>
  <ul class="pager">
    <li class="previous"><a href="/tickets"><span aria-hidden="true">&larr;</span> Back</a></li>
  </ul>
</nav>
<h3>{{ ticket.title }} <small>Posted by {{ ticket.author }} {{ momentjs(ticket.time).fromNow()}}</small></h3>
<blockquote>
  <p>{{ ticket.content | safe }}</p>
</blockquote>
<hr>
{% for reply in ticket.reply %}
	<blockquote>
		<h5><a href="/user/{{ reply.author }}">{{ reply.author }}</a><small>{{ momentjs(reply.time).fromNow()}}</small></h5>
		<p>{{ reply.content | safe }}</p>
	</blockquote>
{% endfor %}
<form role="form" method="post" action="">
	<div class="form-group">
		<textarea class="form-control" name="text"></textarea>
	</div>
	<div class="form-group">
		<button type="submit" class="btn {{ theme.button }}">Reply</button>
	</div>
</form>
{% endblock %}
